:root{
    --color-backgraund-div: #E0E0E0;
    --color-backgraund-content: #C4C4C4;
    --color-black: #000;
    --color-white: #fff;
}

body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

section{
    width: 800px;
    text-align: center;
}

h3{
    color: var(--color-black);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    margin-top: 10px;
    margin-bottom: 0;
}

p{
    color: var(--color-black);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    margin-top: 10px;
    margin-bottom: 18px;
}

span{
    color: var(--color-white);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    display: block;
    padding-top: 56px;
}

.main{
    display: inline-block;
    margin: 15px;
    height: 226px;
    width: 200px;
    background-color: var(--color-backgraund-div);
}

.image{
    background-color: var(--color-backgraund-content);
    width: 130px;
    height: 130px;
    margin-left: 35px;
    margin-bottom: 0;
}